# ----------------------------------------------------
# 1. DEPENDÊNCIAS DO NODE.JS
# ----------------------------------------------------
frontend/node_modules/

# ----------------------------------------------------
# 2. DADOS REAIS / PLANILHAS DA INSTITUIÇÃO 
# ----------------------------------------------------
backend/inventario_REAL.db
backend/Estoque.csv
backend/INVENTÁRIO NOVO.xlsx

# ----------------------------------------------------
# 3. CACHES DO PYTHON E SISTEMA 
# ----------------------------------------------------
backend/__pycache__/
*.pyc
.DS_Store

# ----------------------------------------------------
# 4. VARIÁVEIS DE AMBIENTE
# ----------------------------------------------------
.env